.product-alert {
  top: 10px;
  right: 10px;
  font-size: 0.8rem;
  border-radius: 6px;
  margin-bottom: 0;
}

.product-image {
  object-fit: cover;
  max-height: 240px;
}

.product-price {
  color: #40963dff;
  font-weight: 600;
}

.product-add-btn {
  border-radius: 10px;
}

.product-qty-container {
  background-color: #23272eff;
  color: #ffffffff;
  border-radius: 12px;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
}

.product-qty-btn {
  font-size: 1.25rem;
  line-height: 1rem;
  font-weight: 600;
}

.product-qty-value {
  font-size: 1rem;
  min-width: 2rem;
  text-align: center;
}
