.carrusel-container {
  padding-bottom: 2rem;
}

.carrusel-image {
  height: 360px;
  object-fit: cover;
}

.carrusel-title-overlay {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  z-index: 10;
  text-align: center;
  color: white;
}

.carrusel-title-text {
  font-family: "Dela Gothic One", cursive;
  font-size: 1.6rem;
  margin: 0;
}
